In [17]:
from datetime import datetime

import pandas as pd
import numpy as np

In [34]:
obesity_df = pd.read_csv('data/obesity.csv')\
	.drop(columns=['Source','Unit', 'Value Footnotes'])\
	.rename(columns={'Country or Area': 'Country'})\
	.dropna(subset=['Value'])

obesity_df.head()

      Country       Subgroup  Year  Value
0     Armenia  Female 15+ yr  2001     14
1   Australia  Female 15+ yr  2000     22
2   Australia    Male 15+ yr  2000     19
3  Azerbaijan  Female 15+ yr  2001     12
4     Bahrain  Female 15+ yr  1999     34

In [21]:
def round_2(n: float):
	if n == '':
		return
	try:
		return float(np.format_float_positional(float(n), precision=2))
	except Exception:
		print(f'Unable to convert {n} to float')

gdp_df = pd\
    .read_csv('data/gdp_per_capita.csv', converters={'Value': round_2})\
    .drop(columns=['Value Footnotes']) \
    .dropna(subset=['Value']) \
    .rename(columns={'Country or Area': 'Country', 'Value': 'GDP_Per_Capita'})

gdp_df.head()

       Country  Year  GDP_Per_Capita
0  Afghanistan  2019         2065.04
1  Afghanistan  2018         2033.78
2  Afghanistan  2017         2058.38
3  Afghanistan  2016         2057.06
4  Afghanistan  2015         2068.27

In [24]:
def is_year_filter(obj):
	try:
		datetime.strptime(obj, '%Y')
		return obj
	except Exception:
		# print(f'{obj} is not a year')
		return

def is_numeric_filter(obj):
	try:
		float(obj)
		return obj
	except Exception:
		# print(f'{obj} is not a number')
		return

internet_df = pd.read_csv(
	'data/internet_use.csv',
	converters=
	{
		'Year': is_year_filter,
		'Value': is_numeric_filter
	})\
	.dropna(subset=['Year', 'Value'])\
	.drop(columns=['Value Footnotes'])\
	.rename(columns={'Country or Area': 'Country'})

internet_df.head()

       Country  Year             Value
0  Afghanistan  2014              6.39
1  Afghanistan  2013               5.9
2  Afghanistan  2012  5.45454545454545
3  Afghanistan  2011                 5
4  Afghanistan  2010                 4

In [35]:
gdp_internet_obesity_df = gdp_df\
	.merge(internet_df, on=['Country', 'Year'])\
	.merge(obesity_df, on=['Country', 'Year'])

gdp_internet_obesity_df.head()

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat